<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
	<!-- container section start -->
	<section id="container" class="">
		<header
			th:replace="fragments/head_unauth_background :: head_unauth_background"></header>

		<!--header end-->

		<section id="main-content">

			<div class="row">
				<section class="wrapper">

					<div class="col-md-8">
						<h3 style="color: #008091;">
							<b>Add/Update Customer</b>
						</h3>
					</div>
					<div class="col-md-10">
						<div class="col-lg-10 well"
							style="height: 600px; overflow-y: scroll;">

							<form th:action="@{/customer}" th:object="${customer}"
								method="post" class="form-horizontal" role="form">

								<div class="form-group">
									<div class="col-sm-4">
										<h4 style="color: #008091;">SSN</h4>
									</div>
									<div class="col-sm-5">
										<input type="text" th:field="*{ssn}" th:disabled="${ssn!=null}" placeholder="SSN"
											class="form-control" />
									</div>
								</div>


								<div class="form-group">
									<div class="col-sm-4">
										<h4 style="color: #008091;">First Name</h4>
									</div>
									<div class="col-sm-5">
										<input type="text" th:field="*{firstName}"
											placeholder="First Name" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4">
										<h4 style="color: #008091;">Last Name</h4>
									</div>

									<div class="col-sm-5">
										<input type="text" th:field="*{lastName}"
											placeholder="Last Name" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4">
										<h4 style="color: #008091;">City</h4>
									</div>

									<div class="col-sm-5">
										<input type="text" th:field="*{city}" placeholder="City"
											class="form-control" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-4">
										<h4 style="color: #008091;">State</h4>
									</div>

									<div class="col-sm-5">
										<input type="text" th:field="*{state}" placeholder="State"
											class="form-control" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-4">
										<h4 style="color: #008091;">Street Address</h4>
									</div>

									<div class="col-sm-5">
										<input type="text" th:field="*{streetAddress}"
											placeholder="Street Address" class="form-control" />
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-4">
										<h4 style="color: #008091;">Date Of Birth</h4>
									</div>
									<div class="col-sm-5">
										<input type="date" th:field="*{dob}"
											placeholder="Date Of Birth" class="form-control" />
									</div>
								</div> 
								<input type="hidden" th:attr="value = ${ssn}" name="customerSSN" id="customerSSN">
								<div class="form-group">
									<div class="col-sm-4"></div>
									<div class="col-sm-5">
										<button type="submit" class="btn btn-primary btn-block"
											id="registerButton">Save</button>
									</div>
								</div>
								<span th:text="${txn}" style="color: #008091;"></span>
							</form>
						</div>
					</div>
				</section>
			</div>
		</section>
	</section>

	<!-- container section start -->

	<!-- javascripts -->
	<script src="../js/jquery.js"></script>
	<script src="../js/jquery-ui-1.10.4.min.js"></script>
	<script src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript"
		src="../js/jquery-ui-1.9.2.custom.min.js"></script>
	<!-- bootstrap -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- nice scroll -->
	<script src="../js/jquery.scrollTo.min.js"></script>
	<script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
	<!-- charts scripts -->

	<!--custome script for all page-->
	<script src="../js/scripts.js"></script>
	<!-- custom script for this page-->
</body>
</html>
